.Auth {
    margin: 5px 5px;
    /* width: 80%; */
    text-align: center;
    box-shadow: 0 2px 3px rgb(8, 8, 8);
    border: 1px solid rgb(12, 10, 10);
    /* padding: 0px 10px; */
    box-sizing: border-box;
    background-color: #82879e;
    border-radius: 20%;
    /* color: #fff; */
}

@media (min-width: 600px) {
    .Auth {
        width: 550px;
    }
} 